{
  "root": true,
  "extends": "standard",
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "valid-jsdoc": "warn"
  },
  "overrides": [
    {
      "files": [
        "**/*/*.d.mts"
      ],
      "plugins": [
        "@typescript-eslint"
      ],
      "extends": "standard-with-typescript",
      "parser": "@typescript-eslint/parser",
      "globals": {
        "Response": "readonly"
      }
    }
  ]
}
