{
  "root": true,
  "extends": "standard",
  "env": {
    "es6": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "valid-jsdoc": "warn"
  },
  "overrides": [
    {
      "files": ["**/*/*.d.mts"],
      "plugins": [
        "@typescript-eslint"
      ],
      "extends": "standard-with-typescript",
      "parser": "@typescript-eslint/parser",
      "globals": {
        "Response": "readonly"
      }
    }
  ]
}
